<div class="blog-post">
	<div class="blog-thumb">
		<img src="{{ site.url }}/assets/images/{{ post.thumb }}" alt="">
	</div>
	<div class="down-content">
		<div class="post-eyebrow">{{ post.eyebrow }}</div>
		<h4 class="post-heading"><a href="{{ site.url }}{{ lang }}{{ post.url }}">{{ post.title }}</a></h4>
		<ul class="post-info">
			<li><a href="{{ site.url }}{{ lang }}/about">{{ post.author }}</a></li>
			<li><a href="{{ site.url }}{{ lang }}/category/{{ post.date | date: '%Y' }}/{{ post.date | date: '%m' }}/{{ post.date | date: '%d' }}/">{{ post.date | date: '%B %d, %Y' }}</a></li>
			<li><a href="{{ site.url }}{{ lang }}{{ post.url }}#disqus_thread"></a></li>
		</ul>
		<p>{{ post.description }}</p>

		<div class="row">
			<div class="col-6">
				<ul class="post-tags">
					<li><i class="fa fa-tags"></i></li>
					{% for tag in post.tags %}
					{% assign no_comma = forloop.last %}
					<li><a href="{{ site.url }}{{ lang }}/tag/{{ tag | slugify }}">{{ tag }}</a>{% unless no_comma %},{% endunless %}</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-6">
				<ul class="post-share">
					<li><i class="fa fa-share-alt"></i></li>
					<li><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ lang }}{{ post.url }}">Facebook</a>,</li>
					{% assign hashtags = post.tags | join:',' %}
					<li><a href="http://twitter.com/share?text=Hey+guys%2c+check+this+out!&url={{ site.url }}{{ lang }}{{ post.url }}&hashtags={{ hashtags }}"> Twitter</a>,</li>
					<li><a href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.url }}{{ lang }}{{ post.url }}"> Linkedin</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>