{% if paginator.total_pages > 1 %}
<div class="col-lg-12">
	<ul class="page-numbers">
		{% if paginator.previous_page %}
		<li><a href="{{ site.url }}{{ lang }}{{ paginator.previous_page_path }}"><i class="fa fa-angle-double-left"></i></a></li>
		{% else %}
		<li class="disabled"><a><i class="fa fa-angle-double-left"></i></a></li>
		{% endif %}

		{% assign pageminus2 = paginator.page | minus: 2 %}
		{% if pageminus2 > 1 and paginator.total_pages > 5 %}
		<li class="disabled"><a>...</a></li>
		{% elsif pageminus2 >= 1 and paginator.total_pages <= 5 %}
			{% assign finish = pageminus2 %}
			{% for i in (1..finish) %}
				{% if i == 1 %}
				<li><a href="{{ site.url }}{{ lang }}">1</a></li>
				{% else %}
				<li><a href="{{ site.url }}{{ lang }}/page/{{ i }}">{{ i }}</a></li>
				{% endif %}
			{% endfor %}
		{% endif %}

		{% assign pageminus1 = paginator.page | minus: 1 %}
		{% if pageminus1 == 1 %}
		<li><a href="{{ site.url }}{{ lang }}">1</a></li>
		{% elsif pageminus1 > 1 %}
		<li><a href="{{ site.url }}{{ lang }}/page/{{ pageminus1 }}">{{ pageminus1 }}</a></li>
		{% endif %}

		{% if paginator.page == 1 %}
		<li class="active"><a href="{{ site.url }}{{ lang }}">1</a></li>
		{% else %}
		<li class="active"><a href="{{ site.url }}{{ lang }}/page/{{ paginator.page }}">{{ paginator.page }}</a></li>
		{% endif %}

		{% assign pageplus1 = paginator.page | plus: 1 %}
		{% if pageplus1 <= paginator.total_pages %}
		<li><a href="{{ site.url }}{{ lang }}/page/{{ pageplus1 }}">{{ pageplus1 }}</a></li>
		{% endif %}		

		{% assign pageplus2 = paginator.page | plus: 2 %}
		{% if pageplus2 < paginator.total_pages and paginator.total_pages > 5 %}
		<li class="disabled"><a>...</a></li>
		{% elsif pageplus2 <= paginator.total_pages and paginator.total_pages <= 5 %}
			{% assign start = pageplus2 %}
			{% assign finish = paginator.total_pages %}
			{% for i in (start..finish) %}
				<li><a href="{{ site.url }}{{ lang }}/page/{{ i }}">{{ i }}</a></li>
			{% endfor %}
		{% endif %}

		{% if paginator.next_page %}
		<li><a href="{{ site.url }}{{ lang }}{{ paginator.next_page_path }}"><i class="fa fa-angle-double-right"></i></a></li>
		{% else %}
		<li class="disabled"><a><i class="fa fa-angle-double-right"></i></a></li>
		{% endif %}
	</ul>
</div>
{% endif %}