{% if paginator.total_pages > 1 %}
<div class="col-lg-12">
	<ul class="page-numbers">
		{% if paginator.previous_page %}
		<li><a href="{{ site.url }}{{ lang }}{{ paginator.previous_page_path }}"><i class="fa fa-angle-double-left"></i></a></li>
		{% else %}
		<li class="disabled"><a><i class="fa fa-angle-double-left"></i></a></li>
		{% endif %}

		{% for i in (1..paginator.total_pages) %}
			{% if i == paginator.page %}
			<li class="active"><a href="{{ site.url }}{{ lang }}/page/{{ paginator.page }}">{{ paginator.page }}</a></li>
			{% elsif i == 1 %}
			<li><a href="{{ site.url }}{{ lang }}">1</a></li>
			{% elsif i == paginator.total_pages %}
			<li><a href="{{ site.url }}{{ lang }}/page/{{ paginator.total_pages }}">{{ paginator.total_pages }}</a></li>
			{% else %}
				{% assign pageminus1 = paginator.page | minus: 1 %}
				{% assign pageplus1 = paginator.page | plus: 1 %}

				{% if pageminus1 >= 1 %}
					{% if paginator.total_pages >= 6 %}
						{% if pageminus1 > 2 %}
						<li class="disabled"><a>...</a></li>
						{% endif %}
					{% endif %}
					{% if i == pageminus1 %}
					<li><a href="{{ site.url }}{{ lang }}/page/{{ pageminus1 }}">{{ pageminus1 }}</a></li>
					{% endif %}
				{% endif %}
				
				{% if pageplus1 <= paginator.total_pages %}
					{% if paginator.total_pages > 6 %}
						{% if pageplus1 < paginator.total_pages %}
						<li class="disabled"><a>...</a></li>
						{% endif %}
					{% endif %}
					{% if i == pageplus1 %}
					<li><a href="{{ site.url }}{{ lang }}/page/{{ pageplus1 }}">{{ pageplus1 }}</a></li>
					{% endif %}
				{% endif %}
				
				{% if paginator.total_pages >= 6 %}

				{% endif %}
			{% endif %}
		{% endfor %}

		
		{% if paginator.next_page %}
		<li><a href="{{ site.url }}{{ lang }}{{ paginator.next_page_path }}"><i class="fa fa-angle-double-right"></i></a></li>
		{% else %}
		<li class="disabled"><a><i class="fa fa-angle-double-right"></i></a></li>
		{% endif %}
	</ul>
</div>
{% endif %}