{% if paginator.total_pages > 1 %}
<div class="col-lg-12">
	<ul class="page-numbers">
		{% capture baseurl %}{{ site.url }}{{ lang }}{{ page.path | replace: ".html", "" }}{% endcapture %}
		
		{% if paginator.previous_page %}
		<li><a href="{{ site.url }}{{ lang }}{{ paginator.previous_page_path }}"><i class="fa fa-angle-double-left"></i></a></li>
		{% else %}
		<li class="disabled"><a><i class="fa fa-angle-double-left"></i></a></li>
		{% endif %}

		{% assign skip1 = 0 %}
		{% assign skip2 = 0 %}
		{% assign count = 5 %}
		{% for i in (1..paginator.total_pages) %}
			{% if i == 1 %}
				{% if i == paginator.page %}
					<li class="active"><a href="{{ baseurl }}">1</a></li>
				{% else %}
					<li><a href="{{ baseurl }}">1</a></li>
				{% endif %}
			{% elsif i == paginator.total_pages %}
				{% if i == paginator.page %}
					<li class="active"><a href="{{ baseurl }}/page/{{ paginator.total_pages }}">{{ paginator.total_pages }}</a></li>
				{% else %}
					<li><a href="{{ baseurl }}/page/{{ paginator.total_pages }}">{{ paginator.total_pages }}</a></li>
				{% endif %}
			{% else %}
				{% if paginator.total_pages > 7 %}
					{% if paginator.page > 3 %}
						{% assign j = paginator.total_pages | minus: paginator.page %}
						{% if j > 2 %}
							{% if skip1 == 0 %}
								{% assign skip1 = 1 %}
								{% assign count = count | minus: 1 %}
								<li class="disabled"><a>...</a></li>
							{% endif %}
							
							{% if count > 1 %}
								{% assign pagebefore = paginator.page | minus: 1 %}
								{% assign pageafter = paginator.page | plus: 1 %}
								{% if i == paginator.page %}
									{% assign count = count | minus: 1 %}
									<li class="active"><a href="{{ baseurl }}/page/{{ paginator.page }}">{{ paginator.page }}</a></li>
								{% elsif pagebefore == i %}
									{% assign count = count | minus: 1 %}
									<li><a href="{{ baseurl }}/page/{{ i }}">{{ i }}</a></li>
								{% elsif pageafter == i %}
									{% assign count = count | minus: 1 %}
									<li><a href="{{ baseurl }}/page/{{ i }}">{{ i }}</a></li>
								{% endif %}
							{% endif %}
							
							{% if i > paginator.page %}
								{% if count == 1 %}
									{% if skip2 == 0 %}
									{% assign skip2 = 1 %}
									{% assign count = count | minus: 1 %}
									<li class="disabled"><a>...</a></li>
									{% endif %}
								{% endif %}
							{% endif %}
						{% else %}
							{% if skip1 == 0 %}
								{% assign skip1 = 1 %}
								{% assign count = count | minus: 1 %}
								<li class="disabled"><a>...</a></li>
							{% endif %}
							{% assign pagestart = paginator.total_pages | minus: 5 %}
							{% if i > pagestart %}
								{% if count > 0 %}
									{% if i == paginator.page %}
										{% assign count = count | minus: 1 %}
										<li class="active"><a href="{{ baseurl }}/page/{{ paginator.page }}">{{ paginator.page }}</a></li>
									{% else %}
										{% assign count = count | minus: 1 %}
										<li><a href="{{ baseurl }}/page/{{ i }}">{{ i }}</a></li>
									{% endif %}
								{% endif %}
							{% endif %}	
						{% endif %}
					{% else %}
						{% if count > 1 %}
							{% if i == paginator.page %}
								{% assign count = count | minus: 1 %}
								<li class="active"><a href="{{ baseurl }}/page/{{ paginator.page }}">{{ paginator.page }}</a></li>
							{% else %}
								{% assign count = count | minus: 1 %}
								<li><a href="{{ baseurl }}/page/{{ i }}">{{ i }}</a></li>
							{% endif %}
						{% endif %}
						{% if i > paginator.page %}
							{% if count == 1 %}
								{% if skip2 == 0 %}
								{% assign skip2 = 1 %}
								{% assign count = count | minus: 1 %}
								<li class="disabled"><a>...</a></li>
								{% endif %}
							{% endif %}
						{% endif %}
					{% endif %}
				{% else %}
					{% if i == paginator.page %}
						{% assign count = count | minus: 1 %}
						<li class="active"><a href="{{ baseurl }}/page/{{ paginator.page }}">{{ paginator.page }}</a></li>
					{% else %}
						{% assign count = count | minus: 1 %}
						<li><a href="{{ baseurl }}/page/{{ i }}">{{ i }}</a></li>
					{% endif %}
				{% endif %}
			{% endif %}
		{% endfor %}

		{% if paginator.next_page %}
		<li><a href="{{ site.url }}{{ lang }}{{ paginator.next_page_path }}"><i class="fa fa-angle-double-right"></i></a></li>
		{% else %}
		<li class="disabled"><a><i class="fa fa-angle-double-right"></i></a></li>
		{% endif %}
	</ul>
</div>
{% endif %}