<div class="post-share">
	{% if site.active_lang != "en" %}
		{% assign lang = site.active_lang | prepend: '/' %}
	{% else %}
		{% assign lang = '' %}
	{% endif %}
    <div class="title">Share this post</div>
    <ul class="rounded-social-buttons">
        <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ lang }}{{ page.url }}" class="social-button facebook"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="http://twitter.com/share?text=Hey+guys%2c+check+this+out!&amp;url={{ site.url }}{{ lang }}{{ page.url }}" class="social-button twitter"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.url }}{{ lang }}{{ page.url }}" class="social-button linkedin"><i class="fab fa-linkedin"></i></a></li>
    </ul>
</div>