<section>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-heading d-flex align-items-center">  
					<h2>Related Posts</h2>
					<a href="{{ site.url }}{{ lang }}/" type="button" class="btn btn-all ms-auto">All posts <i class="fa-solid fa-arrow-right"></i></a>
				</div>
				<div class="related-posts">
					<div class="row">
						{% assign tag_name = page.tags | first %}
						{% assign title = page.title %}
						{% assign count = 1 %}
						{% assign posts = site.posts | where_exp: "item", "item.tags contains tag_name" %}
						{% for post in posts limit:7 %}
						{% if post.title != title and count <= 6 %}
						<div class="col-md-6 col-lg-4">
							<div class="blog-post">
								<div class="blog-thumb">
									<a href="{{ site.url }}{{ lang }}{{ post.url }}"><img src="{{ site.url }}/assets/images/{{ post.thumb }}" alt=""></a>
								</div>
								<div class="blog-eyebrow">{{ post.eyebrow }}</div>
								<h3 class="blog-title"><a href="{{ site.url }}{{ lang }}{{ post.url }}">{{ post.title }}</a></h3>
							</div>
						</div>
						{% assign count = count | plus: 1 %}
						{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>