/* 

TemplateMo 551 Stand Blog

https://templatemo.com/tm-551-stand-blog

*/

html {
	font-size: 3.5vw;
}

@media (min-width: 576px) {
	html {
		font-size: 2.5vw;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 1.3vw;
	}
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
	margin-bottom: 0px;
	font-size: 1rem;
	font-weight: 400;
	color: #212427;
}

a {
	text-decoration: none!important;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.6rem;
}

.main-button a {
	display: inline-block;
	background-color: #f48840;
	color: #fff;
	font-size: 0.8rem;
	font-weight: 500;
	/*padding: 12px 20px;*/
	text-transform: uppercase;
	transition: all .3s;
}

.main-button a:hover {
	background-color: #fb9857;
}

#preloader {
  overflow: hidden;
  background: #f48840;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999999;
  color: #fff;
}

#preloader .jumper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
}

#preloader .jumper > div {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
  -webkit-animation: jumper 1s 0s linear infinite;
  animation: jumper 1s 0s linear infinite;
}

#preloader .jumper > div:nth-child(2) {
  -webkit-animation-delay: 0.33333s;
  animation-delay: 0.33333s;
}

#preloader .jumper > div:nth-child(3) {
  -webkit-animation-delay: 0.66666s;
  animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/* Header Style */
header {
	width: 100%;
	background-color: #fff;
	margin-bottom: 3rem;
	-webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 88vw;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 88vw;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 88vw;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 88vw;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 88vw;
  }
}

.navbar-expand-lg {
	justify-content: center;
}
.navbar {
	padding: 1rem 0;
}
.navbar .navbar-brand {
	font-size: 1.7rem;
}
.navbar .navbar-brand > a {
	color: #1e1e1e;
	text-transform: uppercase;
	font-weight: 900;
	-webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

#navbarResponsive {
	z-index: 999;
}
.navbar-collapse {
	text-align: center;
}
.navbar .navbar-nav .nav-item {
	margin: 0 1rem;
}
.navbar .navbar-nav a.nav-link {
	text-transform: capitalize;
	font-size: 1rem;
	font-weight: 800;
	text-transform: uppercase;
	color: #1e1e1e;
	transition: all 0.3s;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active>.nav-link,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show>.nav-link {
	color: #f48840;
}
.navbar .navbar-toggler-icon {
	background-image: none;
}
.navbar .navbar-toggler {
	font-size: 1.7rem;
	color: #1e1e1e;	
	border: none;
	border-radius: 0px;
}

/* Blog Posts */
.blog-posts .category-heading {
	margin-bottom: 2rem;
	font-weight: 900;
}

.blog-posts .blog-post {
	margin-bottom: 3rem;
}

.blog-posts .blog-thumb img {
	width: 100%;
	overflow: hidden;
}

.blog-posts .down-content {
	padding: 1.2rem;
	border-right: 0.15rem solid #eee;
	border-left: 0.15rem solid #eee;
	border-bottom: 0.15rem solid #eee;
}

.blog-posts .down-content .post-eyebrow {
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 900;
	color: #f48840;
}

.blog-posts .down-content h4 {
	margin-bottom: 1rem;
}
.blog-posts .down-content h4 a {
	font-size: 1.4rem;
	text-transform: capitalize;
	font-weight: 900;
	color: #20232e;
}

.blog-posts .down-content ul.post-info li {
	display: inline-block;
	margin-right: 0.3rem;
}

.blog-posts .down-content ul.post-info li:after {
	content: '|';
	color: #aaa;
	margin-left: 0.5rem;
}

.grid-system .down-content ul.post-info li {
	margin-right: 0.1rem;
}

.blog-posts .down-content ul.post-info li:last-child::after {
	display: none;
}

.blog-posts .down-content ul.post-info li a {
	font-size: 0.8rem;
	color: #aaa;
	font-weight: 400;
	transition: all .3s;
}

.blog-posts .down-content ul.post-info li a:hover {
	color: #f48840;
}

.blog-posts .down-content p {
	padding: 1.5rem 0;
	margin: 1.5rem 0;
	border-top: 0.1rem solid #eee;
	border-bottom: 0.1rem solid #eee;
}

.blog-posts .down-content ul.post-tags,
.blog-posts .down-content ul.post-share {
	margin-top: 0;
	margin-bottom: 0;
}

.blog-posts .down-content ul.post-share {
	text-align: right;
}

.blog-posts .down-content ul.post-tags li,
.blog-posts .down-content ul.post-share li {
	display: inline-block;
}

.blog-posts .down-content ul.post-tags li:first-child i,
.blog-posts .down-content ul.post-share li:first-child i {
	color: #f48840;
	margin-right: 0.2rem;
}

.blog-posts .down-content ul.post-tags li,
.blog-posts .down-content ul.post-share li {
	color: #aaa;
}

.blog-posts .down-content ul.post-tags li a,
.blog-posts .down-content ul.post-share li a {
	font-size: 0.8rem;
	color: #aaa;
	font-weight: 400;
	transition: all .3s;
}

.blog-posts .down-content ul.post-tags li a:hover,
.blog-posts .down-content ul.post-share li a:hover {
	color: #f48840;
}

.blog-post .post-date {
	color: #7a7a7a;
	margin-bottom: 0.5rem;
}
.blog-post .post-title,
.blog-post .post-author {
	margin-bottom: 2rem;
}

.blog-post .post-subtitle {
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.blog-post .post-author {
	display: flex;
	align-items: center;
}
.blog-post .post-author .author-avatar {
	width: 5rem;
	height: 5rem;
	display: inline-block;
	border-radius: 50%;
	border: 0.2rem solid #f48840;
	background-image: url('../images/avatar.png');
  background-repeat: no-repeat;
  
  background-position: center; 
  background-size: contain;
}

.blog-post .post-author .author-name {
	color: #20232e;
	margin-left: 0.5rem;
}
.blog-post .post-image {
	margin-bottom: 2rem;
}
.blog-post .post-image img {
	width: 100%;
}
.blog-post .post-figure {
	text-align: center;
}
.blog-post .post-figure img {
	width: 80%;
}
.blog-post .post-figure.vertical img {
	width: 50%;
}
.blog-post .post-content {
	margin-bottom: 2rem;
}
.blog-post .post-content p {
	margin-top: 1rem;
}
.blog-post .post-content p:first-child,
.blog-post .post-content h1 + p,
.blog-post .post-content h2 + p,
.blog-post .post-content h3 + p,
.blog-post .post-content h4 + p,
.blog-post .post-content h5 + p,
.blog-post .post-content h6 + p {
	margin-top: 0rem;
}
.blog-post .post-content pre + p,
.blog-post .post-content .post-figure + p {
	margin-top: 1.5rem;	
}
.blog-post .post-content pre,
.blog-post .post-content .post-figure {
	margin-top: 0.5rem;
}
.blog-post .post-content ul {
	margin-bottom: 1rem;
	color: #7a7a7a;
}
.blog-post .post-content ul li::before {
  content: "•";
  color: #4A90E2;
  font-weight: bold;
  display: inline-block;
  width: 1rem;
}
.blog-post .post-tags {
	margin-top: 5rem;
}
.blog-post .post-share,
.blog-post .post-tags {
	margin-bottom: 3rem;
	color: #7a7a7a;
}

.blog-post .post-share .caption {
	font-size: 0.8rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
}
.blog-post .post-share .item,
.blog-post .post-tags {
	display: flex;
}
.blog-post .post-share .item li,
.blog-post .post-tags li {
	margin-right: 0.2rem;
}
.blog-post .post-share .item li > i,
.blog-post .post-tags li > i {
	font-size: 1rem;
	color: #7a7a7a;
}
.blog-post .post-share .item li:first-child,
.blog-post .post-tags li:first-child {
	margin-right: 0.5rem;
}
.blog-post .post-share .item li:first-child > i,
.blog-post .post-tags li:first-child > i {
	font-size: 1.5rem;
}
ul.page-numbers {
	text-align: center;
}

ul.page-numbers li {
	display: inline-block;
	margin: 0 0.2rem;
}

ul.page-numbers li a {
	width: 3rem;
	height: 3rem;
	display: inline-block;
	text-align: center;
	line-height: 3rem;
	font-size: 1rem;
	color: #7a7a7a;
	border: 0.15rem solid #eee;
	font-weight: 500;
	transition: all 0.3s;
}

ul.page-numbers li.active a {
	background-color: #f48840;
	border-color: #f48840;
	color: #fff;
}

ul.page-numbers li.active a:hover {
	color: #fff;
}

ul.page-numbers li a:hover {
	border-color: #f48840;
	color: #f48840;
}

ul.page-numbers li.disabled a {
	border-color: #eee;
	color: #eee;
	pointer-events: none;
}

ul.page-numbers li.disabled a:hover {
	color: #eee;
}

.related-posts {
	margin-top: 2rem;
}

.related-posts .blog-post {
	margin-bottom: 3rem;
}

.related-posts .blog-post .blog-thumb {
	margin-bottom: 1rem;
	position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  overflow: hidden;
  border-radius: 0.375rem;
}

.related-posts .blog-post .blog-thumb img {
	position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}

.related-posts .blog-post .blog-eyebrow {
	font-size: 1rem;
  text-transform: uppercase;
  font-weight: 900;
  color: #f48840;
}

.related-posts .blog-post .blog-title a {
	font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: 900;
  color: #20232e;
}

.related-posts .blog-post .blog-title a:hover {
	color: #f48840;
}

/* Sidebar */

.sidebar {
	margin-left: 1.5rem;
}

.sidebar .sidebar-item {
	margin-top: 3rem;
}

.sidebar .search {
	margin-top: 0;
}

.sidebar .sidebar-heading h2 {
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: 900;
	/*letter-spacing: 0.5px;*/
	color: #20232e;
	border-bottom: 0.1rem solid #eee;
	padding-bottom: 1rem;
	margin-bottom: 1.5rem;
}

.sidebar .search input {
	width: 100%;
	height: 3rem;
	border: 0.1rem solid #eee;
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: 500;
	color: #7a7a7a;
	outline: none;
	padding: 0 1rem;
}

.sidebar .search input::placeholder {
	color: #aaa;
}

.sidebar .recent-posts ul li {
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom: 0.1rem solid #eee;
}

.sidebar .recent-posts ul li:last-child {
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-bottom: none;
}

.sidebar .recent-posts ul li h5 {
	font-size: 1.1rem;
	font-weight: 900;
	color: #20232e;
	transition: all 0.3s;
}

.sidebar .recent-posts ul li h5:hover {
	color: #f48840;
}

.sidebar .recent-posts ul li span {
	display: block;
	font-size: 0.8rem;
	color: #aaa;
	margin-top: 0.5rem;
}

.sidebar .categories ul li {
	margin-bottom: 15px;
}

.sidebar .categories ul li:last-child {
	margin-bottom: 0px;
}

.sidebar .categories ul li a {
	font-size: 1rem;
	font-weight: 700;
	color: #20232e;
	transition: all .3s;
}

.sidebar .categories ul li a:hover {
	color: #f48840;
}

.sidebar .tags ul li {
	margin-right: 0.2rem;
	margin-bottom: 0.8rem;
	display: inline-block;
}

.sidebar .tags ul li a {
	font-size: 0.8rem;
	font-weight: 500;
	color: #aaa;
	display: inline-block;
	border: 0.1rem solid #eee;
	padding: 0.4rem 1rem;
	transition: all .3s;
}

.sidebar .tags ul li a:hover {
	background-color: #f48840;
	border-color: #f48840;
	color: #fff;
}


/* Footer */

footer {
	margin-top: 5rem;
	text-align: center;
	background-color: #20232e;
	padding: 3rem 0;
}

footer ul.social-icons {
	padding-bottom: 60px;
	margin-bottom: 60px;
	border-bottom: 1px solid rgba(250,250,250,0.15);
}

footer ul.social-icons li {
	display: inline-block;
	margin-right: 30px;
}

footer ul.social-icons li:after {
	content: "|";
	color: #fff;
	margin-left: 30px;
}

footer ul.social-icons li:last-child {
	margin-right: 0px;
}

footer ul.social-icons li:last-child::after {
	display: none;
}

footer ul.social-icons li a {
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 500;
	letter-spacing: 0.25px;
	transition: all .3s;
}

footer ul.social-icons li a:hover {
	color: #f48840;
}

footer p {
	font-size: 0.8rem;
	text-transform: uppercase;
	color: #fff;
}

footer p a {
	color: #f48840;
}

footer p a:hover {
	color: #f48840;
}

/* Responsive Style */
@media (max-width: 992px) {
	.navbar .navbar-brand {
		width: auto;
	}
	.navbar:after {
		display: none;
	}
	#navbarResponsive {
	    z-index: 99999;
	    position: absolute;
	    top: 6rem;
	    left: 0;
	    width: 100%;
	    text-align: center;
	    background-color: #fff;
	    box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.1);
	}
	.navbar .navbar-nav .nav-item {
		border-bottom: 0.1rem solid #eee;
	}
	.navbar .navbar-nav .nav-item:first-child {
		border-top: 0.1rem solid #eee;
	}
	.navbar .navbar-nav a.nav-link {
		padding: 1rem 0;
		color: #1e1e1e!important;
	}
	.navbar .navbar-nav .nav-link:hover,
	.navbar .navbar-nav .active>.nav-link,
	.navbar .navbar-nav .nav-link.active,
	.navbar .navbar-nav .nav-link.show,
	.navbar .navbar-nav .show>.nav-link {
		color: #f48840!important;
	}
	
	.sidebar {
		margin-left: 0px;
		margin-top: 60px;
		padding-top: 60px;
		border-top: 3px solid #f7f7f7;
	}
	.contact-us .contact-information {
		margin-left: 0px;
		margin-top: 60px;
	}
}

.section-heading .btn-all {
	border: 0.1rem solid #eee;
}
.section-heading .btn-all:hover {
	border: 0.1rem solid #f48840;	
}
.btn-all {
	color: #7a7a7a;
	border: 0.1rem solid #eee;
	margin-bottom: 1rem;
}
.btn-all:hover {
	color: #f48840;
	border: 0.1rem solid #f48840;
}

@media (min-width: 992px) {
	.btn-all {
		border: none;
	}
	.btn-all:hover {
		border: none;
	}	
}

.navbar-toggler:focus {
	box-shadow: none;
}
.navbar-toggler > .icon {
	font-weight: 900;
	font-family: 'Font Awesome 6 Free';
	-moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
}
.navbar-toggler > .icon::before {
	content: "\f0c9";	
}

/* About */
.about {
	/*height: 25rem;*/
}
.about .heading {
	margin-bottom: 2rem;
}
.about p {
	margin-bottom: 1rem;
}
.about img {
	width: 100%;
}

/* 404 */

.not-found {
	height: 20rem;
	text-align: center;
}

.not-found .heading {
	font-size: 6rem;
}

/**
* Highlight.js
*/
.code-badge-language {
	display:none
}
.code-badge-copy-icon {
	background: url('data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhciIgZGF0YS1pY29uPSJjb3B5IiBjbGFzcz0ic3ZnLWlubGluZS0tZmEgZmEtY29weSBmYS13LTE0IiByb2xlPSJpbWciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDQ0OCA1MTIiPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0iTTQzMy45NDEgNjUuOTQxbC01MS44ODItNTEuODgyQTQ4IDQ4IDAgMCAwIDM0OC4xMTggMEgxNzZjLTI2LjUxIDAtNDggMjEuNDktNDggNDh2NDhINDhjLTI2LjUxIDAtNDggMjEuNDktNDggNDh2MzIwYzAgMjYuNTEgMjEuNDkgNDggNDggNDhoMjI0YzI2LjUxIDAgNDgtMjEuNDkgNDgtNDh2LTQ4aDgwYzI2LjUxIDAgNDgtMjEuNDkgNDgtNDhWOTkuODgyYTQ4IDQ4IDAgMCAwLTE0LjA1OS0zMy45NDF6TTI2NiA0NjRINTRhNiA2IDAgMCAxLTYtNlYxNTBhNiA2IDAgMCAxIDYtNmg3NHYyMjRjMCAyNi41MSAyMS40OSA0OCA0OCA0OGg5NnY0MmE2IDYgMCAwIDEtNiA2em0xMjgtOTZIMTgyYTYgNiAwIDAgMS02LTZWNTRhNiA2IDAgMCAxIDYtNmgxMDZ2ODhjMCAxMy4yNTUgMTAuNzQ1IDI0IDI0IDI0aDg4djIwMmE2IDYgMCAwIDEtNiA2em02LTI1NmgtNjRWNDhoOS42MzJjMS41OTEgMCAzLjExNy42MzIgNC4yNDMgMS43NTdsNDguMzY4IDQ4LjM2OGE2IDYgMCAwIDEgMS43NTcgNC4yNDNWMTEyeiI+PC9wYXRoPjwvc3ZnPg==');
	background-size: 100% 100%;
}
.code-badge > .code-badge-check-icon {
	background: green;
}
.code-badge-check-icon {
	font-size: 1.2em;
	cursor: pointer;
	padding: 0 7px;	
	background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGFyaWEtaGlkZGVuPSJ0cnVlIiBmb2N1c2FibGU9ImZhbHNlIiBkYXRhLXByZWZpeD0iZmFzIiBkYXRhLWljb249ImNoZWNrIiBjbGFzcz0ic3ZnLWlubGluZS0tZmEgZmEtY2hlY2sgZmEtdy0xNiIgcm9sZT0iaW1nIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgc3R5bGU9IiYjMTA7ICAgIGNvbG9yOiAjMmFmZjMyOyYjMTA7Ij48cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Ik0xNzMuODk4IDQzOS40MDRsLTE2Ni40LTE2Ni40Yy05Ljk5Ny05Ljk5Ny05Ljk5Ny0yNi4yMDYgMC0zNi4yMDRsMzYuMjAzLTM2LjIwNGM5Ljk5Ny05Ljk5OCAyNi4yMDctOS45OTggMzYuMjA0IDBMMTkyIDMxMi42OSA0MzIuMDk1IDcyLjU5NmM5Ljk5Ny05Ljk5NyAyNi4yMDctOS45OTcgMzYuMjA0IDBsMzYuMjAzIDM2LjIwNGM5Ljk5NyA5Ljk5NyA5Ljk5NyAyNi4yMDYgMCAzNi4yMDRsLTI5NC40IDI5NC40MDFjLTkuOTk4IDkuOTk3LTI2LjIwNyA5Ljk5Ny0zNi4yMDQtLjAwMXoiLz48L3N2Zz4=');
	background-size: 100% 100%;	
}