---
layout: post
lang: en
locale: en
title: "Error: unknown connection 'enp0s3', Error: 'enp0s3' is not an active connection"
thumb: "nmcli-error.jpg"
eyebrow: "Troubleshooting"
description: "Learn how to resolve the 'unknown connection enp0s3' and 'enp0s3 is not an active connection' errors. Find solutions and troubleshooting tips to fix these issues quickly and easily."
date: 2023-07-27 14:38:59 +0700
author: Samuel Yang
categories: ["Troubleshooting", "year-2023", "month-07", "day-27"]
tags: ["nmcli", "linux"]
---

<div class="blog-post">
    {% include post-header.html %}

    <article class="post-content">
        <p>If you encounter the "unknown connection enp0s3" error or "enp0s3 is not an active connection" error in <code>nmcli</code> command, there is a easy solution to fix the issue.</p>

        <p>First, delete the connection:</p>

        <pre><code class="language-bash hljs">sudo nmcli connection delete enp0s3</code></pre>

        <p>Then, re-create the connection:</p>

        <pre><code class="language-bash hljs">sudo nmcli connection add type ethernet con-name enp0s3</code></pre>

    </article>

  {% include post-tags.html %}

  {% include post-share.html %}
</div>