---
layout: post
lang: en
locale: en
title: "Create Multiple IP Addresses to One Single Network Interface with Systemd-Networkd"
thumb: "systemd-dark.png"
eyebrow: "Tutorial"
description: "Learn how to create multiple IP addresses for a single network interface using systemd-networkd with our comprehensive tips and tricks guide."
date: 2023-06-15 11:44:59 +0700
author: Samuel Yang
categories: ["Tutorials", "year-2023", "month-06", "day-15"]
tags: ["systemd", "systemd-networkd"]
---

<div class="blog-post">
    {% include post-header.html %}

    <article class="post-content">
        <p>Creating or configuring multiple IP addresses on a single network interface is called IP aliasing.</p>

        <p>Edit the network configuration file <code>/etc/systemd/network/10-enp0s3.network</code>. Add <code>Address=</code> more than once to configure multiple IPv4 or IPv6 addresses.</p>

        <pre class="command">[Match]<br>Name=enp0s3<br><br>[Network]<br>Address=10.10.10.100/24<br>Address=10.10.10.101/24<br>Address=10.10.10.102/24<br>Address=10.10.10.103/24<br>Address=10.10.10.104/24<br>Address=fd3c:b8f6:7506:cb1b::64/64<br>Address=fd3c:b8f6:7506:cb1b::65/64<br>Address=fd3c:b8f6:7506:cb1b::66/64<br>Address=fd3c:b8f6:7506:cb1b::67/64<br>Address=fd3c:b8f6:7506:cb1b::68/64<br>Gateway=10.10.10.1<br>Gateway=fd3c:b8f6:7506:cb1b::1</pre>

        <p>Then restart <code>systemd-networkd</code> service:</p>

        <pre class="command">systemctl restart systemd-networkd</pre>        
    </article>

  {% include post-tags.html %}

  {% include post-share.html %}
</div>