---
layout: post
lang: en
locale: en
title: "Move WSL File System to Another Drive"
thumb: "wsldistribution.jpg"
eyebrow: "Tutorial"
description: "Learn how to move the Windows Subsystem for Linux (WSL) file system to another drive with step-by-step instructions, ensuring a smooth transition and efficient use of storage space."
date: 2024-04-30 23:50:00 +0700
author: Samuel Yang
categories: ["Tutorials", "year-2024", "month-04", "day-30"]
tags: ["windows 11", "wsl"]
---

<div class="blog-post">
    {% include post-header.html %}

    <article class="post-content">
        <p>First, you need to know the WSL distribution name which you want to move to another drive. List the installed WSL distributions on your computer:</p>

        <pre><code class="language-bash hljs"># PowerShell
wsl -l -v</code></pre>

        <p>If you are using a username different than <code>root</code>, you need to check the username:</p>
        
        <pre><code class="language-bash hljs"># Linux Terminal
whoami</code></pre>

        <p>Shut down all the WSL distros running on Windows:</p>
        
        <pre><code class="language-bash hljs"># PowerShell
wsl --shutdown</code></pre>

        <p>Next, you are going to create a backup for your WSL distribution <code>Ubuntu</code>:</p>

        <pre><code class="language-bash hljs"># PowerShell
mkdir D:\backup
wsl --export Ubuntu D:\backup\ubuntu.tar</code></pre>
        
        <p>Wait till the WSL export is over (it may take much time). A TAR archive with your WSL distribution file system will appear in the target directory.</p>

        <p>When finished, you can remove the WSL distribution to free up the disk space</p>

        <pre><code class="language-bash hljs"># PowerShell
wsl --unregister Ubuntu</code></pre>

        <p>Create a directory for your WSL distribution on a new drive and import the TAR archive to WSL using this command:</p>
        
        <pre><code class="language-bash hljs"># PowerShell
mkdir D:\WSL
wsl --import Ubuntu D:\WSL\ D:\backup\ubuntu.tar</code></pre>

        <p>By default Ubuntu will use <code>root</code> as the default user, to change it to another user name (we got it earlier), run:</p>
        
        <pre><code class="language-bash hljs"># PowerShell
cd $env:USERPROFILE\AppData\Local\Microsoft\WindowsApps
ubuntu config --default-user johndoe</code></pre>
        
        <p>Start the WSL distribution:</p>

        <pre><code class="language-bash hljs">wsl -d Ubuntu</code></pre>

    </article>

    {% include post-tags.html %}

    {% include post-share.html %}
</div>