---
layout: post
lang: en
locale: en
title: "Git error RPC failed curl transfer closed with outstanding read data remaining on Ubuntu 22.04 and Debian 12"
thumb: "curltransfer.jpg"
eyebrow: "Troubleshooting"
description: "Explore our expert guide on resolving the Git error "RPC failed; curl transfer closed with outstanding read data remaining" specifically tailored for Ubuntu 22.04 and Debian 12 users."
date: 2024-07-22 19:21:00 +0700
author: Samuel Yang
categories: ["Troubleshooting", "year-2024", "month-07", "day-22"]
tags: ["git", "gi clone", "git fetch", "ubuntu 22.04", "debian 12"]
---

<div class="blog-post">
    {% include post-header.html %}

    <article class="post-content">
        <p>The error RPC failed; curl transfer closed with outstanding read data remaining typically occurs when you have to clone a large repository from a slow internet connection, and the connection tends to close.</p>

        <p>Do a shallow clone:</p>

        <pre><code class="language-bash hljs">git clone https://github.com/microsoft/TypeScript.git --depth 1</code></pre>

        <p>This option allows you to clone only the latest commits, which can be helpful when dealing with large repositories or slow network connections.</p>

        <p>Navigate in the local repository directory:</p>

        <pre><code class="language-bash hljs">cd TypeScript</code></pre>

        <p>Convert a shallow clone of a Git repository into a complete repository with the full commit history:</p>

        <pre><code class="language-bash hljs">git fetch --unshallow</code></pre>
    </article>

    {% include post-tags.html %}

    {% include post-share.html %}
</div>