---
layout: post
lang: en
locale: en
title: "CNS11643 Plane 17 Encoding and Decoding"
thumb: "cns1164317.jpg"
eyebrow: "Complete Reference"
description: "Welcome to our comprehensive resource on CNS11643, the official encoding standard for Traditional Chinese characters used in Taiwan. This page provides in-depth information on CNS11643, covering its history, structure, and significance in the digital world."
date: 2024-08-21 20:00:00 +0700
author: Samuel Yang
categories: ["Complete Reference", "year-2024", "month-08", "day-21"]
tags: ["cns11643", "algorithm", "encoding", "decoding"]
---

<div class="blog-post">
    {% include post-header.html %}

    <article class="post-content">
        <p>CNS11643, also known as the "Chinese National Standard (CNS) 11643," is a standard for Chinese character encoding. It was developed by the Ministry of Education of Taiwan (Republic of China) to provide a comprehensive system for encoding traditional Chinese characters. The standard was first published in 1986 and has been updated several times since then to expand its character set and improve encoding methods.</p>

        <p>CNS11643 encodes traditional Chinese characters across several planes, each containing a different range of characters. These planes are organized into 94 rows, with each row containing 94 characters. The character encoding is specified by a combination of the plane number, row number, and column number.</p>

        <p>However, only the first 7 planes are commonly used and well-documented.</p>

        <ul>
            <li><strong>Plane 1 (Primary Plane):</strong>
                <ul>
                    <li>Characters: Commonly used traditional Chinese characters.</li>
                    <li>Total Characters: 3,755 characters.</li>
                    <li>Usage: Standard traditional Chinese characters for general use.</li>
                </ul>
            </li>
            <li><strong>Plane 2:</strong>
                <ul>
                    <li>Characters: Less commonly used traditional Chinese characters.</li>
                    <li>Total Characters: 6,427 characters.</li>
                    <li>Usage: Additional characters not included in Plane 1.</li>
                </ul>
            </li>
            <li><strong>Plane 3:</strong>
                <ul>
                    <li>Characters: Rare characters, variant forms, and historical characters.</li>
                    <li>Total Characters: 8,048 characters.</li>
                    <li>Usage: Characters needed for specific academic, historical, and research purposes.</li>
                </ul>
            </li>
            <li><strong>Plane 4:</strong>
                <ul>
                    <li>Characters: Rare characters, often used in dialects or specific fields.</li>
                    <li>Total Characters: 8,048 characters.</li>
                    <li>Usage: Special-purpose characters including those for Taiwanese dialects.</li>
                </ul>
            </li>
            <li><strong>Plane 5:</strong>
                <ul>
                    <li>Characters: Rare and specialized characters.</li>
                    <li>Total Characters: 8,048 characters.</li>
                    <li>Usage: Continuation of characters for specialized purposes.</li>
                </ul>
            </li>
            <li><strong>Plane 6:</strong>
                <ul>
                    <li>Characters: Rare and specialized characters.</li>
                    <li>Total Characters: 8,048 characters.</li>
                    <li>Usage: Similar to Plane 5, including additional rare characters.</li>
                </ul>
            </li>
            <li><strong>Plane 7:</strong>
                <ul>
                    <li>Characters: Rare and specialized characters.</li>
                    <li>Total Characters: 8,048 characters.</li>
                    <li>Usage: Continuation of characters needed for specialized applications.</li>
                </ul>
            </li>
        </ul>


        <p>This post is the last part in CNS11643 Encoding and Decoding tutorial series. If you're interested in this topic, you can continue reading the next part by using the following hyperlinks:</p>

        <ol>
            <li><a href="https://hemimorphite.github.io/2024/08/21/cns11643-plane-1-encoding-and-decoding/">CNS11643 Encoding and Decoding Plane 1</a></li>
            <li><a href="https://hemimorphite.github.io/2024/08/21/cns11643-plane-2-encoding-and-decoding/">CNS11643 Encoding and Decoding Plane 2</a></li>
            <li><a href="https://hemimorphite.github.io/2024/08/21/cns11643-plane-3-encoding-and-decoding/">CNS11643 Encoding and Decoding Plane 3</a></li>
            <li><a href="https://hemimorphite.github.io/2024/08/21/cns11643-plane-4-encoding-and-decoding/">CNS11643 Encoding and Decoding Plane 4</a></li>
            <li><a href="https://hemimorphite.github.io/2024/08/21/cns11643-plane-5-encoding-and-decoding/">CNS11643 Encoding and Decoding Plane 5</a></li>
            <li><a href="https://hemimorphite.github.io/2024/08/21/cns11643-plane-6-encoding-and-decoding/">CNS11643 Encoding and Decoding Plane 6</a></li>
            <li><a href="https://hemimorphite.github.io/2024/08/21/cns11643-plane-7-encoding-and-decoding/">CNS11643 Encoding and Decoding Plane 7</a></li>
            <li><a href="https://hemimorphite.github.io/2024/08/21/cns11643-plane-8-encoding-and-decoding/">CNS11643 Encoding and Decoding Plane 8</a></li>
            <li><a href="https://hemimorphite.github.io/2024/08/21/cns11643-plane-9-encoding-and-decoding/">CNS11643 Encoding and Decoding Plane 9</a></li>
            <li><a href="https://hemimorphite.github.io/2024/08/21/cns11643-plane-10-encoding-and-decoding/">CNS11643 Encoding and Decoding Plane 10</a></li>
            <li><a href="https://hemimorphite.github.io/2024/08/21/cns11643-plane-11-encoding-and-decoding/">CNS11643 Encoding and Decoding Plane 11</a></li>
            <li><a href="https://hemimorphite.github.io/2024/08/21/cns11643-plane-12-encoding-and-decoding/">CNS11643 Encoding and Decoding Plane 12</a></li>
            <li><a href="https://hemimorphite.github.io/2024/08/21/cns11643-plane-13-encoding-and-decoding/">CNS11643 Encoding and Decoding Plane 13</a></li>
            <li><a href="https://hemimorphite.github.io/2024/08/21/cns11643-plane-14-encoding-and-decoding/">CNS11643 Encoding and Decoding Plane 14</a></li>
            <li><a href="https://hemimorphite.github.io/2024/08/21/cns11643-plane-15-encoding-and-decoding/">CNS11643 Encoding and Decoding Plane 15</a></li>
            <li><a href="https://hemimorphite.github.io/2024/08/21/cns11643-plane-16-encoding-and-decoding/">CNS11643 Encoding and Decoding Plane 16</a></li>
            <li><a href="https://hemimorphite.github.io/2024/08/21/cns11643-plane-17-encoding-and-decoding/">CNS11643 Encoding and Decoding Plane 17</a></li>
            <li><a href="https://hemimorphite.github.io/2024/08/21/cns11643-plane-19-encoding-and-decoding/">CNS11643 Encoding and Decoding Plane 19</a></li>
            <li><a href="https://hemimorphite.github.io/2024/08/21/cns11643-plane-24-encoding-and-decoding/">CNS11643 Encoding and Decoding Plane 24</a></li>
        </ol>

<table class="table table-bordered table-responsive">
    <thead>
        <tr><th>Hexadecimal</th><th>Symbol</th><th>Unicode</th><th>Symbol</th><th>Description</th></tr>
    </thead>
    <tbody>
    <tr><td data-title="Hexadecimal">112121</td><td data-title="Symbol">󿮝</td><td data-title="Unicode">U+FFB9D</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112122</td><td data-title="Symbol">󿮛</td><td data-title="Unicode">U+FFB9B</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112123</td><td data-title="Symbol">󿮚</td><td data-title="Unicode">U+FFB9A</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112124</td><td data-title="Symbol">󿮙</td><td data-title="Unicode">U+FFB99</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112125</td><td data-title="Symbol">󿮘</td><td data-title="Unicode">U+FFB98</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112126</td><td data-title="Symbol">󿮕</td><td data-title="Unicode">U+FFB95</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112127</td><td data-title="Symbol">󿮔</td><td data-title="Unicode">U+FFB94</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112128</td><td data-title="Symbol">󿮐</td><td data-title="Unicode">U+FFB90</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112129</td><td data-title="Symbol">󿮏</td><td data-title="Unicode">U+FFB8F</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">11212A</td><td data-title="Symbol">󿮎</td><td data-title="Unicode">U+FFB8E</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">11212B</td><td data-title="Symbol">󿮍</td><td data-title="Unicode">U+FFB8D</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">11212C</td><td data-title="Symbol">󿮌</td><td data-title="Unicode">U+FFB8C</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">11212D</td><td data-title="Symbol">󿮉</td><td data-title="Unicode">U+FFB89</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">11212E</td><td data-title="Symbol">󿮅</td><td data-title="Unicode">U+FFB85</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">11212F</td><td data-title="Symbol">󿮂</td><td data-title="Unicode">U+FFB82</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112130</td><td data-title="Symbol">󿮁</td><td data-title="Unicode">U+FFB81</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112131</td><td data-title="Symbol">󿭼</td><td data-title="Unicode">U+FFB7C</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112132</td><td data-title="Symbol">󿭺</td><td data-title="Unicode">U+FFB7A</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112133</td><td data-title="Symbol">󿭸</td><td data-title="Unicode">U+FFB78</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112134</td><td data-title="Symbol">󿭷</td><td data-title="Unicode">U+FFB77</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112135</td><td data-title="Symbol">󿭶</td><td data-title="Unicode">U+FFB76</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112136</td><td data-title="Symbol">󿭳</td><td data-title="Unicode">U+FFB73</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112137</td><td data-title="Symbol">󿭲</td><td data-title="Unicode">U+FFB72</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112138</td><td data-title="Symbol">󿭯</td><td data-title="Unicode">U+FFB6F</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112139</td><td data-title="Symbol">󿭭</td><td data-title="Unicode">U+FFB6D</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">11213A</td><td data-title="Symbol">󿭬</td><td data-title="Unicode">U+FFB6C</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">11213B</td><td data-title="Symbol">󿭪</td><td data-title="Unicode">U+FFB6A</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">11213C</td><td data-title="Symbol">󿭩</td><td data-title="Unicode">U+FFB69</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">11213D</td><td data-title="Symbol">󿭤</td><td data-title="Unicode">U+FFB64</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">11213E</td><td data-title="Symbol">󿭥</td><td data-title="Unicode">U+FFB65</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">11213F</td><td data-title="Symbol">󿭣</td><td data-title="Unicode">U+FFB63</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112141</td><td data-title="Symbol">󿭠</td><td data-title="Unicode">U+FFB60</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112142</td><td data-title="Symbol">󿭟</td><td data-title="Unicode">U+FFB5F</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112143</td><td data-title="Symbol">󿭞</td><td data-title="Unicode">U+FFB5E</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112144</td><td data-title="Symbol">󿭝</td><td data-title="Unicode">U+FFB5D</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112145</td><td data-title="Symbol">󿭜</td><td data-title="Unicode">U+FFB5C</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112146</td><td data-title="Symbol">󿭛</td><td data-title="Unicode">U+FFB5B</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112147</td><td data-title="Symbol">󿭙</td><td data-title="Unicode">U+FFB59</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112148</td><td data-title="Symbol">󿭘</td><td data-title="Unicode">U+FFB58</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112149</td><td data-title="Symbol">󿭖</td><td data-title="Unicode">U+FFB56</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">11214A</td><td data-title="Symbol">󿭕</td><td data-title="Unicode">U+FFB55</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">11214B</td><td data-title="Symbol">󿭓</td><td data-title="Unicode">U+FFB53</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">11214C</td><td data-title="Symbol">󿭑</td><td data-title="Unicode">U+FFB51</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">11214D</td><td data-title="Symbol">󿭏</td><td data-title="Unicode">U+FFB4F</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">11214E</td><td data-title="Symbol">󿭎</td><td data-title="Unicode">U+FFB4E</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">11214F</td><td data-title="Symbol">󿭌</td><td data-title="Unicode">U+FFB4C</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112150</td><td data-title="Symbol">󿭋</td><td data-title="Unicode">U+FFB4B</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112151</td><td data-title="Symbol">󿭊</td><td data-title="Unicode">U+FFB4A</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112152</td><td data-title="Symbol">󿭉</td><td data-title="Unicode">U+FFB49</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112153</td><td data-title="Symbol">󿭈</td><td data-title="Unicode">U+FFB48</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112154</td><td data-title="Symbol">󿭇</td><td data-title="Unicode">U+FFB47</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112155</td><td data-title="Symbol">󿭅</td><td data-title="Unicode">U+FFB45</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112156</td><td data-title="Symbol">󿭄</td><td data-title="Unicode">U+FFB44</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112157</td><td data-title="Symbol">󿭁</td><td data-title="Unicode">U+FFB41</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112158</td><td data-title="Symbol">󿬾</td><td data-title="Unicode">U+FFB3E</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112159</td><td data-title="Symbol">󿬽</td><td data-title="Unicode">U+FFB3D</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">11215A</td><td data-title="Symbol">󿬺</td><td data-title="Unicode">U+FFB3A</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">11215B</td><td data-title="Symbol">󿬹</td><td data-title="Unicode">U+FFB39</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">11215C</td><td data-title="Symbol">󿬸</td><td data-title="Unicode">U+FFB38</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">11215D</td><td data-title="Symbol">󿬷</td><td data-title="Unicode">U+FFB37</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">11215E</td><td data-title="Symbol">󿬶</td><td data-title="Unicode">U+FFB36</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112160</td><td data-title="Symbol">󿬳</td><td data-title="Unicode">U+FFB33</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112161</td><td data-title="Symbol">󿬰</td><td data-title="Unicode">U+FFB30</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112162</td><td data-title="Symbol">󿬯</td><td data-title="Unicode">U+FFB2F</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112163</td><td data-title="Symbol">󿬮</td><td data-title="Unicode">U+FFB2E</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112164</td><td data-title="Symbol">󿬭</td><td data-title="Unicode">U+FFB2D</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112165</td><td data-title="Symbol">󿬬</td><td data-title="Unicode">U+FFB2C</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112166</td><td data-title="Symbol">󿬫</td><td data-title="Unicode">U+FFB2B</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112167</td><td data-title="Symbol">󿬪</td><td data-title="Unicode">U+FFB2A</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112168</td><td data-title="Symbol">󿬨</td><td data-title="Unicode">U+FFB28</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112169</td><td data-title="Symbol">󿬧</td><td data-title="Unicode">U+FFB27</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">11216A</td><td data-title="Symbol">󿬦</td><td data-title="Unicode">U+FFB26</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">11216B</td><td data-title="Symbol">󿬣</td><td data-title="Unicode">U+FFB23</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">11216C</td><td data-title="Symbol">󿬢</td><td data-title="Unicode">U+FFB22</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">11216D</td><td data-title="Symbol">󿬝</td><td data-title="Unicode">U+FFB1D</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">11216E</td><td data-title="Symbol">󿬜</td><td data-title="Unicode">U+FFB1C</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">11216F</td><td data-title="Symbol">󿬘</td><td data-title="Unicode">U+FFB18</td><td data-title="Description">private use area</td></tr>
    <tr><td data-title="Hexadecimal">112170</td><td data-title="Symbol">𭄥</td><td data-title="Unicode">U+2D125</td><td data-title="Description">CJK UNIFIED IDEOGRAPH-2D125</td></tr>
    </tbody>
</table>
    </article>

    {% include post-tags.html %}

    {% include post-share.html %}
</div>