---
layout: post
lang: en
locale: en
title: "Git error RPC failed curl 92 HTTP/2 stream 0 was not closed cleanly on Ubuntu 22.04 and Debian 12"
thumb: "http2stream.jpg"
eyebrow: "Troubleshooting"
description: "This comprehensive guide addresses the RPC failed; curl 92 HTTP/2 stream 0 was not closed cleanly error encountered with Git on Ubuntu 22.04 and Debian 12. It provides practical solutions for troubleshooting and resolving this issue during Git operations, such as cloning repositories."
date: 2024-07-21 12:21:00 +0700
author: Samuel Yang
categories: ["Troubleshooting", "year-2024", "month-07", "day-21"]
tags: ["git", "git clone", "ubuntu 22.04", "debian 12"]
---

<div class="blog-post">
    {% include post-header.html %}

    <article class="post-content">
        <p>The error "RPC failed; curl 18 HTTP/2 stream 5 was not closed cleanly" typically indicates a problem with the HTTP/2 protocol during a Git operation, such as cloning or pushing to a repository. This error can be related to network issues, HTTP/2 protocol handling, or configuration problems. </p>

        <p>To resolve the "RPC failed; curl 92 HTTP/2 stream 0 was not closed cleanly" error, you can force Git to use HTTP/1.1 instead of HTTP/2.</p>

        <pre><code class="language-bash hljs">git config --global http.version HTTP/1.1</code></pre>

    </article>

    {% include post-tags.html %}

    {% include post-share.html %}
</div>