---
layout: post
lang: en
locale: en
title: "Git error RPC failed curl GnuTLS recv error Error decoding the received TLS packet on Ubuntu 22.04 or Debian 12"
thumb: "curlgnutls.jpg"
eyebrow: "Troubleshooting"
description: "Learn how to troubleshoot and resolve the "error: RPC failed; curl GnuTLS recv error: Error decoding the received TLS packet" error encountered while using Git on Ubuntu 22.04 or Debian 12. This guide provides step-by-step solutions to fix this issue during Git operations like cloning repositories. "
date: 2024-07-21 22:21:00 +0700
author: Samuel Yang
categories: ["Troubleshooting", "year-2024", "month-07", "day-21"]
tags: ["git", "git clone", "ubuntu 22.04", "debian 12"]
---

<div class="blog-post">
    {% include post-header.html %}

    <article class="post-content">
        <p>The error "RPC failed; curl GnuTLS recv error: Error decoding the received TLS packet" generally indicates an issue with the network connection or the TLS/SSL protocol used by Git and Curl. </p>

        <p>To resolve the "RPC failed; curl GnuTLS recv error: Error decoding the received TLS packet" error, you can recompile Git using <code>libcurl-openssl-dev</code> instead of <code>libcurl4-gnutls-dev</code>.</p>

        <p>Remove Git and its dependencies:</p>

        <pre><code class="language-bash hljs">sudo apt-get -y purge git</code></pre>

        <p>Install necessary dependencies:</p>

        <pre><code class="language-bash hljs">sudo apt-get install build-essential fakeroot dpkg-dev</code></pre>

        <p>Create a directory for compiling git:</p>

        <pre><code class="language-bash hljs">mkdir git-source
cd git-source</code></pre>
        
        <p>open the <code>sources.list</code> file located in the <code>/etc/apt/</code> directory using a vim editor:</p>

        <pre><code class="language-bash hljs">sudo vi /etc/apt/sources.list</code></pre>
        
        <p>For Debian 12, add the following line:</p>

        <pre><code class="language-bash hljs">deb-src http://deb.debian.org/debian bookworm main
deb-src http://deb.debian.org/debian bookworm-updates main</code></pre>
        
        <p>For Ubuntu 22.04, uncomment the following line:</p>

        <pre><code class="language-bash hljs">deb-src http://archive.ubuntu.com/ubuntu/ jammy main restricted
deb-src http://archive.ubuntu.com/ubuntu/ jammy-updates main restricted</code></pre>
        
        <p>Then run the following to update the package index files from their sources:</p>
        
        <pre><code class="language-bash hljs">sudo apt-get update</code></pre>

        <p>Download git source code:</p>
        
        <pre><code class="language-bash hljs">apt-get source git</code></pre>

        <p>Install build dependencies for git:</p>
        
        <pre><code class="language-bash hljs">sudo apt-get build-dep git</code></pre>
        
        <p>Install <code>libcurl4-openssl-dev</code> package:</p>

        <pre><code class="language-bash hljs">sudo apt-get install -y libcurl4-openssl-dev</code></pre>
        
        <p>Enter the git source code directory:</p>
        
        <pre><code class="language-bash hljs">cd git-2.39.2</code></pre>

        <p>Change <code>libcurl4-gnutls-dev</code> to <code>libcurl4-openssl-dev</code> in <code>./debian/control</code>:</p>
        
        <pre><code class="language-bash hljs">sed -i -- 's/libcurl4-gnutls-dev/libcurl4-openssl-dev/' ./debian/control</code></pre>

        <p>Edit <code>./debian/rules</code> to delete the entire line containing <code>TEST=test</code>:</p>

        <pre><code class="language-bash hljs">sed -i -- '/TEST=test/d' ./debian/rules
        </code></pre>

        <p>Build git from the source code.</p>

        <pre><code class="language-bash hljs">sudo dpkg-buildpackage -rfakeroot -b</code></pre>

        <p>Back to the <code>~/git-source</code> directory:</p>

        <pre><code class="language-bash hljs">cd ..</code></pre>

        <p>Install the compiled git package:</p>

        <pre><code class="language-bash hljs">sudo dpkg -i git_2.39.2-1.1_amd64.deb</code></pre>
    </article>

    {% include post-tags.html %}

    {% include post-share.html %}
</div>